.panel-heading{
    color: white;
    text-align: left;
   
    
    font-size: 25px
    
    
}

.com{
    position: relative;
    
    float: right;
    font-family: fantasy;
    
    
    color:white;
    font-style: italic
    
}

img{
    border-radius: 50%;
    width: 300px;
    height: 250px;
    position: relative;
    top: -30px;
    left: 10px;
}

.wrapper{
    text-align: center;
    font-size: 20px;
    display: inline-block;
    position: relative;
    text-align:left;;
    top: 30px;
    color: black;
 
    

}
ul{
    list-style: none;
    
    
    
}

.item{
    line-height: 40px;
    
    
}

